<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
</head>

<body class="bg-gray-100">
    <img src="/profilPicture/<%= userp[0].img %>" alt="" class="image-cover h-full w-full object-center object-cover">
    <div class="bg-white shadow-md">
        <div class="container mx-auto p-2">
            <div class="flex items-center">
                <div class="border-4 border-blue-400 rounded-full  h-32 w-32 flex">
                    <img class="object-center rounded-full w-full" alt="A" src="/profilPicture/<%= userp[0].img %>">
                </div>
                <div class=" ml-4">
                    <h1 class="text-2xl font-bold tracking-black text-gray-800"><%= userp[0].Firstname %>  <%= userp[0].Lastname %></h1>
                   
                </div>
            </div>
            <div class="profile-info flex justify-between items-baseline mt-4">

            </div>
        </div>
    </div>

    <main class="px-2 posts-container  container mx-auto mt-4 ">
        <% if (locals.posts) { %>
            <% for( let index = 0; index < posts.length; index++ ) { %>
               <section class="rounded-lg overflow-hidden my-4 bg-white shadow-xl ">
                   <div class=" border h-64 ">
                    <% if (posts[index].path) { %>
                        <img src=" /uploads/<%= posts[index].path %> " alt=" " class=" object-cover object-center w-full h-full ">
                    <% } else{%>
                        <img src=" /back.jpg " alt=" " class=" object-cover object-center w-full h-full ">
                        <% } %>
                   </div>
       
                   <article class="  p-2 ">
                       <a href=" /post/<%= posts[index].ID %>  " class=" block text-2xl  font-bold truncate " title=" ajoute le titre du
                           post ici ou cas ou le titre est trop long pour une ligne "><%= posts[index].title %> </a>
                       <div class=" flex items-center mt-2">
                           
                           <div class=" info ml-2 flex flex-col items-start justify-center ">
                               <p class=" text-xl font-semibold leading-5 "><%= posts[index].firstname %>  <%= posts[index].lastname %> </p>
                               <span class=" text-xs text-gray-600 ">Le <%= posts[index].date %>  à <%= posts[index].time %> </span>
                           </div>
                           <div class=" ml-auto ">
                               <a href=" /post/<%= posts[index].ID %> " class=" block text-white bg-blue-400 py-1 px-4 font-black
                           tracking-wider rounded-lg text-xl ">
                                   Lire
                               </a>
                           </div>
                       </div>
                   </article>
       
                   <hr>
                   <div>
                       <a href=" /post/<%= posts[index].ID %>" class=" block py-1 px-1 flex justify-center items-center ">
       
                           <span class=" block iconify text-2xl text-gray-600 hover:text-gray-700 "" data-inline=" false"
                               data-icon="icons8:comments"></span>
       
                           <span class="block ml-2 text-gray-700 text-xl">Commenter</span>
       
                       </a>
                   </div>
               </section>
            <% } %>
           <% } %>

    </main>

</body>
